.Appp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    p{
        width: 300px;
        height: 50px;
        margin: 0;
        border: 2px solid black;
        padding: 5px;
    }
}

